.list-item {
    border-radius: 10px !important;
    margin: 0px 10px !important;
}
.list-item:hover {
  background-color: #d8d8d844 !important;
}
.list-item.active {
    background-color: #d8d8d882 !important;
}
.list-icon {
    justify-content: center;
    min-width: 0px !important;
}
.list-icon.active {
    color: rgb(40, 40, 206);
}
.list-label {
    padding-left: 10px;
}
.list-label.active span {
    color: rgb(40, 40, 206);
    font-weight: bolder;
}